{#
/**
 * @file
 * Theme override to display a menu.
 */
#}
{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <ul class="menu level-{{menu_level}}{{ attributes.class }}" {{ attributes|without('class') }}>
    {% for item in items %}
      {%
        set classes = [
          item.is_expanded ? 'expanded',
          item.is_collapsed ? 'collapsed',
          item.in_active_trail ? 'active-trail',
        ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        {% if item.prefix %}
          {{ item.prefix }}
        {% endif %}
        {% if item.url.toString()|length %}
          {{ link(item.title, item.url) }}
        {% else %}
          <a {{ item.link_attributes.addClass('nolink') }}>{{ item.title|raw }}</a>
        {% endif %}
        {% if item.suffix %}
          {{ item.suffix }}
        {% endif %}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
