{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    id|replace({'-': ' '}),
  ]
%}
<{{ tag }}{{ attributes.addClass(classes) }}>
  {% if content_tag %}
    <{{ content_tag}}{{ content_attributes }}>
  {% endif %}
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
  {% if content_tag %}
    </{{ content_tag}}>
  {% endif %}
</{{ tag }}>
